.info{
    color:white;
}
.info{
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
}
.info_bg{
    background: rgba(12, 12, 12, 0.5);
    backdrop-filter: blur(5px);
    padding: 284px 0 233px;
    margin-bottom: 120px;
}
.info_first{
    max-width: 1526px;
    display: flex;
    justify-content: space-between;
}
.info_first_left{

}
.info_first_left_h2{
    color: white;
    margin-bottom: 100px;
}
.info_first_left_ul li{
    margin-bottom: 20px;
}
.info_first_right_h2{
    margin-bottom: 72px;
}
.info_second{
    padding-bottom: 200px;
}
.info_second_h2{
    margin-bottom: 90px;
    padding-bottom: 12px;
    position: relative;
}
.info_second_h2:before, .info_second_h2:after{
    position: absolute;
    content: "";
    bottom: 0;
    width: 50%;
    height: 2px;

}
.info_second_h2:before{
    left: 0;
    background: #F7F7F7;
}
.info_second_h2:after{
    left: 50%;
    background: rgba(247, 247, 247, 0.5);
}

.info_second_ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info_second_li{
    min-width: 300px;
    transition: background .5s;
    max-width: 403px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    padding: 36px;
    margin-bottom: 20px;
    position: relative;
    background: linear-gradient(135.07deg, #0C0C0C 0%, rgba(12, 12, 12, 0) 100%);
}

.info_second_li img{
    transition: .5s;
    filter: grayscale(1);
    margin-bottom: 117px;
}
.info_second_li h5{
    margin-bottom: 45px;

}
.info_second_li:hover img{
    filter: grayscale(0);
}

info_li_activ{
    font-weight: bold;
}
