*{
  margin: 0;
  padding: 0;
}
body{
  background: #0C0C0C;
  color: #fff;
  font-family: 'Archivo', sans-serif;
  user-select: none;
}
h1{
  font-size: 6.25em;
  margin-top: 60px;
  position: relative;
}
h2{
  font-size: 3em;
}
h3{
  font-size: 2.5em;
}
h4{
  font-size: 1.875em;
}
h5{
  font-size: 1.5em;
}
p{
  font-size: 1em;
}
h1, h2, h3, h4, h5, p, .subtitle{
  line-height: 110%;
  white-space: pre-line;
  height: fit-content;
}
a{
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.subtitle{
  font-size: 1.25em;
  font-weight: bold;
}
h1::before{
  position: absolute;
  content: '';
  display: block;
  width: 700px;
  height: 2px;
  background: #fff;
  bottom: -20px;
  opacity: .5;
}
h1::after{
  position: absolute;
  content: '';
  display: block;
  width: 350px;
  height: 2px;
  background: #fff;
  bottom: -20px;
}
.promoContent{
  background: url(./assets/promoBack.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.promoContent .container{
  max-width: 1700px !important;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.promoContent img{
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 1000px;
  width: 50%;
  object-fit: cover;
}
.container{
  max-width: 1670px;
  margin: 0 auto;
  width: 90%;
}
ul{
  list-style: none;
}


.emphasize {
  margin-bottom: 90px;
  padding-bottom: 12px;
  position: relative;
}

.emphasize:before, .emphasize:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 50%;
  height: 2px;

}

.emphasize:before {
  left: 0;
  background: #F7F7F7;
}

.emphasize:after {
  left: 50%;
  background: rgba(247, 247, 247, 0.5);
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}